---
layout: default
---

<div class="home">
<div class="blurb">
	<h1>Sleep furiously</h1>
	<p>A blog about regulation, privacy and ethics in AI. <a href="/about">Read more about me.</a></p>
</div><!-- /.blurb -->    
    
  {{ content }}

  <ul class="latest-post">
      {% assign latestPost = site.posts.first %}
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      
          <span class="post-meta">{{ latestPost.date | date: date_format }}</span>
      
      <h2>
          {{latestPost.title}}
      </h2>
          
          <span class="post-content">{{latestPost.content}}</span>
  </ul>
    
      <h3>
      <p>
      <a href="{{ "blog/index.html" | relative_url }}">Previous posts</a>
      </p>

    </h3>

</div>
